{{> homepage_header}}

<body class="js">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        {{> preloader}}

        <!-- End Topbar -->
        {{> homepage_topbar}}

        <!-- Header Inner -->
        {{> homepage_navbar}}
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->

    <!-- Breadcrumbs -->
    {{> breadcrumbs}}
    <!-- End Breadcrumbs -->
    <div class="wrapper" id="exampleModal-{{_id}}" tabindex="" role="dialog">
        <div class="content">
            <div class="header">
            </div>
            <div class="body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12" style="display: block;padding:5%;">
                        <style>
                            p {
                                font-size: 16px;
                            }
                        </style>
                        <h2 style="margin-botton:5%;">Introduction</h2>
                        <p style="margin-botton:5%;">
                            Welcome to Eshop Pvt Ltd (“Company”, “we”, “our”, “us”)!

                            These Terms of Service (“Terms”, “Terms of Service”) govern your use of our website located
                            at www.Eshop.com (together
                            or individually “Service”) operated by Eshop Pvt Ltd.

                            Our Privacy Policy also governs your use of our Service and explains how we collect,
                            safeguard and disclose information
                            that results from your use of our web pages.

                            Your agreement with us includes these Terms and our Privacy Policy (“Agreements”). You
                            acknowledge that you have read
                            and understood Agreements, and agree to be bound of them.

                            If you do not agree with (or cannot comply with) Agreements, then you may not use the
                            Service, but please let us know by
                            emailing at wetavfx4935@gmail.com so we can try to find a solution. These Terms apply to all
                            visitors, users and others
                            who wish to access or use Service.
                        </p>
                        <h2>Communications</h2>
                        <p style="margin-botton:5%;">
                            By using our Service, you agree to subscribe to newsletters, marketing or promotional
                            materials and other information we
                            may send. However, you may opt out of receiving any, or all, of these communications from us
                            by following the
                            unsubscribe link or by emailing at wetavfx4935@gmail.com.
                        </p>
                        <h2>Purchases</h2>
                        <p style="margin-botton:5%;">
                            If you wish to purchase any product or service made available through Service (“Purchase”),
                            you may be asked to supply
                            certain information relevant to your Purchase including but not limited to, your credit or
                            debit card number, the
                            expiration date of your card, your billing address, and your shipping information.

                            You represent and warrant that: (i) you have the legal right to use any card(s) or other
                            payment method(s) in connection
                            with any Purchase; and that (ii) the information you supply to us is true, correct and
                            complete.

                            We may employ the use of third party services for the purpose of facilitating payment and
                            the completion of Purchases.
                            By submitting your information, you grant us the right to provide the information to these
                            third parties subject to our
                            Privacy Policy.

                            We reserve the right to refuse or cancel your order at any time for reasons including but
                            not limited to: product or
                            service availability, errors in the description or price of the product or service, error in
                            your order or other
                            reasons.

                            We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal
                            transaction is suspected.
                        </p>

                        <h2>Refunds</h2>
                        <p style="margin-botton:5%;">
                            We issue refunds for Contracts within 30 days of the original purchase of the Contract.
                        </p>
                        <h2>Prohibited Uses</h2>
                        <p style="margin-botton:5%;">
                            You may use Service only for lawful purposes and in accordance with Terms. You agree not to
                            use Service:
                            <br>
                            0.1. In any way that violates any applicable national or international law or regulation.
                            <br>

                            0.2. For the purpose of exploiting, harming, or attempting to exploit or harm minors in any
                            way by exposing them to
                            inappropriate content or otherwise.
                            <br>

                            0.3. To transmit, or procure the sending of, any advertising or promotional material,
                            including any “junk mail”, “chain
                            letter,” “spam,” or any other similar solicitation.
                            <br>

                            0.4. To impersonate or attempt to impersonate Company, a Company employee, another user, or
                            any other person or entity.
                            <br>

                            0.5. In any way that infringes upon the rights of others, or in any way is illegal,
                            threatening, fraudulent, or harmful,
                            or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.
                            <br>

                            0.6. To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of
                            Service, or which, as
                            determined by us, may harm or offend Company or users of Service or expose them to
                            liability.
                        </p>
                        <h2>Analytics</h2>
                        <p style="margin-botton:5%;">
                            We may use third-party Service Providers to monitor and analyze the use of our Service.
                        </p>
                        <h2>Accounts</h2>
                        <p style="margin-botton:5%;">
                            When you create an account with us, you guarantee that you are above the age of 18, and that
                            the information you provide
                            us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete
                            information may result in the
                            immediate termination of your account on Service.

                            You are responsible for maintaining the confidentiality of your account and password,
                            including but not limited to the
                            restriction of access to your computer and/or account. You agree to accept responsibility
                            for any and all activities or
                            actions that occur under your account and/or password, whether your password is with our
                            Service or a third-party
                            service. You must notify us immediately upon becoming aware of any breach of security or
                            unauthorized use of your
                            account.

                            You may not use as a username the name of another person or entity or that is not lawfully
                            available for use, a name or
                            trademark that is subject to any rights of another person or entity other than you, without
                            appropriate authorization.
                            You may not use as a username any name that is offensive, vulgar or obscene.

                            We reserve the right to refuse service, terminate accounts, remove or edit content, or
                            cancel orders in our sole
                            discretion.

                        </p>
                        <h2>Intellectual Property</h2>
                        <p style="margin-botton:5%;">
                            Service and its original content (excluding Content provided by users), features and
                            functionality are and will remain
                            the exclusive property of Eshop Pvt Ltd and its licensors. Service is protected by
                            copyright, trademark, and other laws
                            of and foreign countries. Our trademarks may not be used in connection with any product or
                            service without the prior
                            written consent of Eshop Pvt Ltd.

                        </p>
                        <h2>Copyright Policy</h2>
                        <p style="margin-botton:5%;">
                            We respect the intellectual property rights of others. It is our policy to respond to any
                            claim that Content posted on
                            Service infringes on the copyright or other intellectual property rights (“Infringement”) of
                            any person or entity.

                            If you are a copyright owner, or authorized on behalf of one, and you believe that the
                            copyrighted work has been copied
                            in a way that constitutes copyright infringement, please submit your claim via email to
                            wetavfx4935@gmail.com, with the
                            subject line: “Copyright Infringement” and include in your claim a detailed description of
                            the alleged Infringement as
                            detailed below, under “DMCA Notice and Procedure for Copyright Infringement Claims”

                            You may be held accountable for damages (including costs and attorneys’ fees) for
                            misrepresentation or bad-faith claims
                            on the infringement of any Content found on and/or through Service on your copyright.

                        </p>
                        <h2>Contact Us</h2>
                        <p style="margin-botton:5%;">
                            Please send your feedback, comments, requests for technical support by email:
                            wetavfx4935@gmail.com.


                        </p>
                        <small>
                            <p style="margin-botton:5%;">These
                                Terms of Service were created for www.Eshop.com by PolicyMaker.io on
                                2022-12-20.</p>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{> homeFooterDetails}}



    {{> homepage_footer}}